DEPLOYHOME=/data/swit
DEFAULTBKDIR=/backup/bkfile
#
# db owner
SWITU_PASS=password
AISU_PASS=password
TECU_PASS=password
SCINTU_PASS=password

# db root
DATAPG_POSTGRES_PASS=password

# db user
GRAFANA_PASS=password
WSREADER_PASS=password

#switws configurations
CONFPATH=$DEPLOYHOME/switws/ws/config/

#redis storage
REDIS_DATASTORAGE=/data/redis_cache

# switws db user            
# <db-name>_<DB-USER>_<PASSWORD>
AIS_USER_PASSWORD=password
SCINT_USER_PASSWORD=password
TECDB_USER_PASSWORD=password
HFF_USER_PASSWORD=password
