DEPLOYHOME=/data/swit
DEFAULTBKDIR=/backup/bkfile
#
# <container_name>_<variable_name>
# db owner
SWITU_PASS=password
AISU_PASS=password
TECU_PASS=password
SCINTU_PASS=password

# db root
DATAPG_POSTGRES_PASS=password

# db user
# <name_yml.upper()>_<POSTGRES>_<PASSWORD>

WRITER_DATA_PASS=password
GRAFANA_PASS=password
WSREADER_PASS=password

#switws configurations
CONFPATH=$DEPLOYHOME/switws/ws/config/

#redis storage
REDIS_DATASTORAGE=/data/redis_cache

