DEPLOYHOME=/data/swit
DEFAULTBKDIR=/backup/bkfile
#
# <container_name>_<variable_name>
# db owner
SWITU_PASS=password
AISU_PASS=password
TECU_PASS=password
SCINTU_PASS=password

# db root
DATA_MYSQL_ROOT_PASSWORD=password
DATAPG_POSTGRES_PASSWORD=password
AISPG_POSTGRES_PASSWORD=password
SCINTDB_POSTGRES_PASSWORD=password

# db user
WRITER_DATA_PASSWORD=password
WSREADER_PASSWORD=password
GRAFANA_PASS=password
