<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">	
    <!-- Static/main CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">	

  <title>
    SwitWs
  </title>


</head>
<body>

  <main role="main" class="container">
	  <div class="container">
	    <div class="row">
	      <div class="col-sm-12">
	        {% block content %}{% endblock %} 
	  	  </div>
	    </div>
	  </div>
	</main>

  <footer class="row text-center">
    <div class="col-sm-12">
      <h5>Copyright &copy; Istituto Nazionale di Geofisica e Vulcanologia (INGV)</h5> 
      <small style="color: lightgreen;">
        Contributors: Massimo Viola (massimo.viola@ingv.it), Carlo Marcocci (carlo.marcocci@ingv.it), Emanuele Pica (emanuele.pica@ingv.it), Nicola Guglielmi (nicola.guglielmi@ingv.it)
      </small>
    </div>
  </footer>

</body>
</html>